header h1 {
    font-size: 32px;
    margin-left: 20px;
  }
  
  /* Login Section Styles */
  .login-section {
    background-color: #ce18a1;
    padding: 40px 0;
    text-align: center;
  }
  
  .container {
    max-width: 6000px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .login-section h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  form {
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  